<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>
<!DOCTYPE html>
<html>
<head>
	<title>Standard Terminal Commands in Node</title>
</head>
<body>

	<header>
		<h1>Commands in Node</h1>
	</header>

	<section>
		<h2>Introduction</h2>
		<p>When working with Node.js, it's important to be familiar with some of the standard terminal commands that are used to manage Node projects. These commands allow you to install and manage dependencies, run scripts, and perform other tasks. In this guide, we'll go over some of the most commonly used terminal commands in Node and what they do.</p>
	</section>

	<section>
		<h2>npm install</h2>
		<p>The "npm install" command is used to install dependencies for your Node project. For example "npm install express"</p>
	</section>


	<section>
		<h2>npm test</h2>
		<p>The "npm test" command is used to run your tests. You need to have a testscript defined to use this</p>
	</section>

	<section>
		<h2>npm run</h2>
		<p>The "npm run" command is used to run any script that you've defined in your "package.json" file.</p>
	</section>

	<section>
		<h2>npm init</h2>
		<p>The "npm init" command is used to create a new "package.json" file for your Node project. This file is used to define your project's dependencies, scripts, and other metadata.</p>
	</section>


</body>
</html>