<link rel='stylesheet' href='/style.css' />
<%- include('components/header')%>

<h1>Create your user here!</h1>
<form action="/signup" method="POST">
  <div class="container">
    <input type="username" id="username" name="username" placeholder="Username" required>
  </div>
  <div class="container">
    <input type="password" id="password" name="password" placeholder="password" required>
</div>
<div class="container">
<button type="submit">Sign up</button>
</div>
</form>