@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
body {
    background-color: #E6F5FE;
    color: #333333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #006699;
  }
  
  p {
    color: #333333;
  }